body {
  margin: 0;
  text-align: center;
}
#header {
  background-color: #00a;
  color: #fff;
  font-family: serif, sans-serif;
  margin: 0;
  padding: 100px;
  text-align: center;
}
#header p {
  font-size: 12px;
}

#survey-form {
  background-color: #0a0;
  color: #fff;
  line-height: 30px;
  margin: 10px 10vw;
  padding: 50px;
}
