body {
  margin: 0;
  text-align: center;
}
#header {
  background-color: #00a;
  color: #fff;
  font-family: serif, sans-serif;
  margin: 0;
  padding: 100px;
  text-align: center;
}
#header p {
  font-size: 12px;
}

#survey-form {
  background-color: #0a0;
  color: #fff;
  margin: 10px 10vw;
  padding: 50px;
}
#survey-form input, #survey-form select, #survey-form textArea {
  border: solid 3px #0a0;
  outline: none;
  padding: 5px;
  transition: all 0.2s ease-in-out
}
#survey-form input:focus, #survey-form select:focus, #survey-form textArea:focus {
  border: solid 3px #0d0;
}
#survey-form #submit {
  background-color: #00a;
  border: solid 3px #0a0;
  color: #fff;
  outline: none;
  padding: 10px 100px;
  transition: all 0.5s ease-in-out;
}
#survey-form #submit:hover {
  cursor: pointer;
  border: solid 3px #0af;
  border-radius: 10px;
}
